GOOGLE_CLIENT_ID=
NEXT_PUBLIC_REDIRECT_URL=https://platform.onlytwins.ai
GOOGLE_CLIENT_SECRET=

X_CLIENT_ID=
X_CLIENT_SECRET=

STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

NEXT_PUBLIC_TON_RECIPIENT_ADDRESS=
NEXT_PUBLIC_MEDIA_URL=https://platform.onlytwins.ai/media