# Google OAuth Configuration
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id_here

# Application URLs
NEXT_PUBLIC_HOST_URL=https://app.onlytwins.ai
NEXT_PUBLIC_MEDIA_URL=https://platform.onlytwins.ai/images

# Telegram Auth Integration
NEXT_PUBLIC_TELEGRAM_BOT_ID=7912163340

# API Configuration
API_URL=https://platform.onlytwins.ai/api/v1